@CHARSET "UTF-8";

.body{
	background-color: #e4e4e4;
}

.main-contents{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.main-contents:before, .main-contents:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #00002f;
}
.main-contents:before {left: 10px;}
.main-contents:after {right: 10px;}

.main-contents p {
	text-align:center;
}
.errorMessages{
	text-align:center;
	color: #cc0000;
}
.loginbutton {
  display       : inline-block;
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 11px 22px;   /* 余白       */
  background    : rgba(0, 0, 0, 0.68);     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 1;           /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
}
.loginbutton:hover {
  opacity       : 0.8;         /* カーソル時透明度 */
}
