@charset "UTF-8";

.header{
	text-align:center;
}

.hedder p{
	width:450px; 
	background-color:#ffffff; 
	word-break: break-all;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: #db0000;
}
